details {
  background: whitesmoke;
  border: solid black 2px;
  width: 70%;
  margin: 50px auto;
  padding: 10px;
  border-radius: 10px;
	transition: 1s
}
.summary {
  text-decoration: none;
  text-align: center;
	list-style: none;
	cursor: pointer;
	padding: 10px;
	transition: 1s
}
.summary:hover {
  background: rgb(207, 206, 206);
  color: red;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 2rem;
  border-radius: 20px
}
.separated{
	margin: 10px;
}

.detailContent {
  padding-top: 10px;
	font-size: large;
	height: 150px;
	overflow-x: hidden;
	overflow-y: visible;
	scrollbar-color: rebeccapurple green;
	scrollbar-width: thin;
	transition: 1s
}
